---
type: question
title: I have a problem with verification of my Stripe account, now what?
tags:
    - payments
---

We’re sorry to hear it!

This[ link](https://support.stripe.com/topics/verification) on the Stripe help center should have all the information you’re looking for. If it doesn’t, please let us know so we can help you to figure it out!

We're reachable on helpdesk@partofthepack.com.
